* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100dvh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: green;
}