* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #052A02 21%, #063F01 40%, #085801 59%, #16FF00 100%);
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    background: linear-gradient(to right, #000000 0%, #061C04 20%, #053700 38%, #094D03 56%, #0E7005 73%, #0EA300 100%);
}

.title h1 {
    color: #fff;
    font-size: 2.2rem;
}

.title p {
    color: #fff;
}

.title span {
    color: green;
}

.date {
    color: #fff;
}

.hidden {
    display: none;
}

.card {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    gap: 50px;
}

.balance-card, .income-card, .expanse-card {
    padding: 20px;
    width: 35%;
    height: 140px;
    padding-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: #16FF00;
}

.expanse-card {
    background-color: #E52929;
    color: #fff
}

/* .tracker-container {
    width: 61.5%;
    margin-left: 40px;
    height: 300px;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
} */

.tracker-container {
    display: flex;
    border: 20px solid white;
}

.tracker-transactions {
    background-color: #D9D9D9;
    border: 20px solid black;
}

