* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #052A02 21%, #063F01 40%, #085801 59%, #16FF00 100%);
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    background: linear-gradient(to right, #000000 0%, #061C04 20%, #053700 38%, #094D03 56%, #0E7005 73%, #0EA300 100%);
}

.title h1 {
    color: #fff;
    font-size: 2.2rem;
}

.title p {
    color: #fff;
}

.title span {
    color: green;
}

.date {
    color: #fff;
}

.hidden {
    display: none;
}

.card {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    gap: 50px;
}

.balance-card, .income-card, .expanse-card {
    padding: 20px;
    width: 35%;
    height: 140px;
    padding-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: #16FF00;
}

.expanse-card {
    background-color: #E52929;
    color: #fff
}

.tracker-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 10px;
}

.tracker-transactions {
    background-color: #D9D9D9;
    border: none;
    margin-left: 40px;
    width: 62%;
    border-radius: 15px;
}

.add-transaction {
    background-color: #D9D9D9;
    border: none;
    width: 29%;
    margin-right: 38px;
    border-radius: 15px;;
    padding: 30px;
}

.add-transaction h3 {
    font-weight: 480;
    font-size: 1.3rem;
}

.form-group {
    display: flex;
}

.description {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.description input {
    margin-top: 10px;
    width: 330px;
    height: 40px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ffff;
    outline: none;
}

.description input:focus {
    border: 2px solid #16FF00;
}

.total {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.total input {
    margin-top: 10px;
    width: 150px;
    height: 30px;
    text-align: center;
    border: 1px solid #fff;
    outline: none;
}

.total input:focus {
    border-color: #16FF00;
}

.type {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
}

.type select {
    margin-top: 10px;
    height: 30px;
    width: 150px;
    border: 1px solid #fff;
    outline: none;
}

.type select:focus {
    border-color:#16FF00;
}